/*
    Config
*/  
:root {
    --Font: 'montserrat';
    --Background: url(background.jpg);
    --primary: hsl(27, 85%, 50%);
    --secondary: #ecf0f1;
    --tertiary: #232323;
    --quaternary: rgba(20, 20, 20, 0.93);
    --quinary : #0f0f0f; /*#171717*/
}
 

/*body*/
.a3ps-body { 
    background-color: var(--tertiary); 
    background-image: var(--Background);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
 
/*background*/
.a3ps-background{
    background-color: var(--tertiary); 
}

/*header*/
.a3ps-header{
    background-color: var(--quinary); 
} 

/*curved site title*/  
#a3ps-arc-title span{
    color: var(--primary);
}

/*content*/
.a3ps-content .a3ps-background{
    background-color: var(--quaternary); 
}
 
/*breadcrumbs*/
.a3ps-breadcrumbs{
    border: none;
} 
.a3ps-breadcrumbs .a3ps-background{
    background-color: var(--quinary); 
} 
.a3ps-breadcrumb-content-after .breadcrumb-item+.breadcrumb-item::before { 
    content: "›"; 
    vertical-align:top; 
    color: var(--primary);
    font-size:35px; 
    line-height:18px; 
}
 
/*colomn boxes*/
.a3ps-colbox {
    border-style: solid;
    border-color: var(--tertiary);
    border-width: 2px;
    padding: 15px;
    background: var(--quinary);
}
.a3ps-colbox p {
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/*license badges*/
.a3ps-playerlicense {    
    padding: .1em; 
    margin-bottom: 60px;
    font-weight: bold; 
    color: #fff;
    text-align: center;
    border-radius: .25em;
    font-size: 18px;   
}
.a3ps-playerlicense-false {
    background-color: red;
}
.a3ps-playerlicense-true {
    background-color: green;
}
 
/*footer*/
.a3ps-footer {
    background-color: var(--quinary); 
}
 
