/*
    Config
*/  
:root {
    --Background: url(background.jpg);
    --primary: hsl(27, 85%, 50%);
    --secondary: #ecf0f1;
    --tertiary: #232323;

    --hover: inset 0 0 5000px rgba(0,0,0,0.1); 

}
 

/*
    General
*/  
body {
    background-image: var(--Background);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--tertiary); 
} 
*:focus {
    outline: none;
} 
a:active {
    -webkit-box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.31);
    box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.1);
} 
input[type=submit]:active {
    -webkit-box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.31);
    box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.1);
}
 

/*
    index.html
*/  
 
/*curved site title*/  
#simple_arc span{
    color: var(--primary);
}
 
/*breadcrumb bar*/  
.breadcrumb-content-after .breadcrumb-item+.breadcrumb-item::before { 
    content: "›"; 
    vertical-align:top; 
    color: var(--tertiary);
    font-size:35px; 
    line-height:18px; 
}
 
/*search box*/  
.search {
    display: inline-block;
    margin: auto;
    transition: 0.2s;
    background-color: var(--primary);
    -webkit-box-shadow: 0px 0px 53px -12px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 53px -12px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 53px -12px rgba(0,0,0,0.41);
} 
.search input[type=text] {
    border: 0;
    padding: 15px;
    width: 400px;
    font-size: 15px;
} 
.search input[type=submit] {
    height: 64px;
    background-color: var(--primary);
    border: 0;
    width: 100px;
    color: var(--secondary);
} 
.search input[type=submit]:hover {
    box-shadow: var(--hover);
}


/*
    Result.php
*/  
.result {
    display: block;
    margin: 30px auto;
    border: 3px solid var(--secondary);
    width: 30%;
    position: relative;
    padding: 20px;
    transition: .2s;
    background-color: rgba(256,256,256,0.9);
}

 