/*
    Config
*/  
:root {
    --Background: url(background.jpg);
    --primary: hsl(27, 85%, 50%);
    --secondary: #ecf0f1;
    --tertiary: #232323;
    --quaternary: rgba(35, 35, 35, 0.9297);
    --quinary : #0f0f0f;
    --hover: inset 0 0 5000px rgba(0,0,0,0.1);  
}
 

/*
    General
*/  
body {
    background-image: var(--Background);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--tertiary); 
} 
*:focus {
    outline: none;
} 
a:active {
    -webkit-box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.31);
    box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.1);
} 
input[type=submit]:active {
    -webkit-box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.31);
    box-shadow: inset 10px 10px 50px -20px rgba(0,0,0,0.1);
}

/*
    Container theme
*/  
.container-theme{
    background-color: var(--quaternary);
    border-radius: 4px;
}



/*
    breadcrumb bar
*/  
.breadcrumb {
    background-color: var(--tertiary);
    border-radius: 4px;
}
.breadcrumb-content-after .breadcrumb-item+.breadcrumb-item::before { 
    content: "›"; 
    vertical-align:top; 
    color: var(--primary);
    font-size:35px; 
    line-height:18px; 
}



/*
    index.html
*/  
 
/*curved site title*/  
#site-arc-title span{
    color: var(--primary);
}
 
/*search box*/  
.search {
    display: inline-block;
    margin: auto;
    transition: 0.2s;
    background-color: var(--primary);
    -webkit-box-shadow: 0px 0px 53px -12px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 53px -12px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 53px -12px rgba(0,0,0,0.41);
} 
.search input[type=text] {
    border: 0;
    padding: 15px;
    width: 400px;
    font-size: 15px;
} 
.search input[type=submit] {
    height: 64px;
    background-color: var(--primary);
    border: 0;
    width: 100px;
    color: var(--secondary);
} 
.search input[type=submit]:hover {
    box-shadow: var(--hover);
}


/*
    Result.php
*/  
.result {
    display: block;
    margin: 30px auto;
    border: 3px solid var(--secondary);
    width: 35%;
    position: relative;
    padding: 20px;
    transition: .2s;
    background-color: rgba(256,256,256,0.9);
}
.result h3 {
    font-size: 26px; 
    letter-spacing: 1px;
}
.result h3 span{
    font-size: 22px; 
    letter-spacing: 2px;
} 
.result h4 {
    font-size: 24px; 
    letter-spacing: 1px;
}
.result h4 span{
    font-size: 20px; 
    letter-spacing: 1px;
} 
.result .span-theme{
    color: var(--primary);
}

/*
    Player.php
*/  
.player-colbox > *, .player-colbox > * > * {
    color: var(--secondary);
}
.player-colbox {
    border-style: solid;
    border-color: #363333;
    border-width: 2px;
    padding: 15px;
    background: var(--quinary);
}
.player-colbox p {
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.player-colbox .license-badge {    
    padding: .1em; 
    margin-bottom: 60px;
    font-weight: bold; 
    color: #fff;
    text-align: center;
    border-radius: .25em;
    font-size: 18px;   
}
.player-colbox .license-badge-false {
    background-color: red;
}
.player-colbox .license-badge-true {
    background-color: green;
}
.player-colbox-dropdown {    
    padding: 7px;  
    background-image: url("dropdown.png");
    background-repeat: no-repeat;
    background-position: right center;
}
.player-colbox-dropdown-right { 
    float: right !important;
    margin: 10px 10px 10px -50px; 
}
